#clockContainer{
    position: relative;
    margin: auto;
    /* border: 2px solid red; */
    height: 40vw;
    width: 40vw;
    
    background : url(clock.png) no-repeat;
    background-size: 100%; 
    height: 400px;
    width: 400px; 
}

#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1%;
    height: 23%;
    top: 27%;
    left: 49.4%;
    opacity: 0.8; 
     
}

#minute{
    width: 1.6%;
    height: 30%;
    top: 18.9%;
    left: 49.1%;
    opacity: 0.8;
    
    
    
   
}

#second{
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.5%;
    opacity: 0.8;
    
   
    
}